

body{
    background: #eee;
}
li{
  list-style: none;
}
a.hd {
    color: #fff !important;
  }
  .navbar{
    box-shadow: none !important;
  }
  
  .navbar-brand{
    color: #fff !important;
  }

/*  */
.ninja{
  padding-top: 50px;
}
i.fas.fa-filter {
  margin-right: -15px;
}
.search_btn {
  border: 0px;
  background: none;
  /* margin-left: -30px; */
}
.search_btn{

  cursor: pointer;
}
.search{

  background: none;
  border-bottom: 1px solid #999;
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
/* color:white !important; */
}
.search:focus{
 box-shadow:none !important;
   outline:0px !important;
}
.user_info p {
  font-size: 15px;
  color: rgb(193 193 193);
}
.card {
  /* height: 500px; */
  border-radius: 0px !important;
  /* background-color: rgba(0,0,0,0.4) !important; */
  box-shadow: none !important;
  border: 1px solid #99999936;
}
  .card-header {
   
    background-color: #fff;
}
  .contacts_body{
    padding:  0.75rem 0 !important;
    overflow-y: auto;
    white-space: nowrap;
  }
  .msg_card_body{
    overflow-y: auto;
  }
  /* .card-header{
    border-radius: 15px 15px 0 0 !important;
    border-bottom: 0 !important;
  } */
  /* .card-footer{
  border-radius: 0 0 15px 15px !important;
    border-top: 0 !important;
  } */
  .container{
    align-content: center;
  }

  .type_msg{
    background-color: rgba(0,0,0,0.3) !important;
    border:0 !important;
    color:white !important;
    height: 60px !important;
    overflow-y: auto;
  }
    .type_msg:focus{
       box-shadow:none !important;
         outline:0px !important;
  }
  .attach_btn{
  border-radius: 15px 0 0 15px !important;
  background-color: rgba(0,0,0,0.3) !important;
    border:0 !important;
    color: white !important;
    cursor: pointer;
  }
  .send_btn{
  border-radius: 0 15px 15px 0 !important;
  background-color: rgba(0,0,0,0.3) !important;
    border:0 !important;
    color: white !important;
    cursor: pointer;
  }

  .contacts{
    list-style: none;
    padding: 0;
  }
  .contacts li{
    width: 100% !important;
    padding: 5px 10px;
    /* margin-bottom: 15px !important; */
  }
  /* .active{
    background-color: rgba(0,0,0,0.3);
  } */
  .user_img{
    height: 50px;
    width: 50px;
    border:1.5px solid #f5f6fa;
  
  }
  .user_img_msg{
    height: 40px;
    width: 40px;
    border:1.5px solid #f5f6fa;
  
  }
  .img_cont{
    position: relative;
    height: 70px;
    width: 70px;
  }
  .img_cont_msg{
    height: 40px;
    width: 40px;
  }
  .online_icon {
    position: absolute;
    height: 11px;
    width: 11px;
    background-color: #4cd137;
    border-radius: 50%;
    bottom: 1.2em;
    right: 1.6em;
    border: 1.5px solid white;
}
  .offline{
  background-color: #c23616 !important;
  }
  .user_info{
  /* margin-top: auto; */
  margin-bottom: auto;
  /* margin-left: 15px; */
  }
  .user_info span {
    font-size: 20px;
    color: #3f51b5;
  }
 
  .video_cam{
  margin-left: 50px;
  margin-top: 5px;
  }
  .video_cam span{
  color: white;
  font-size: 20px;
  cursor: pointer;
  margin-right: 20px;
  }
  .msg_cotainer{
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 10px;
  border-radius: 25px;
  background-color: #82ccdd;
  padding: 10px;
  position: relative;
  }
  .msg_cotainer_send{
  margin-top: auto;
  margin-bottom: auto;
  margin-right: 10px;
  border-radius: 25px;
  background-color: #78e08f;
  padding: 10px;
  position: relative;
  }
  .msg_time{
  position: absolute;
  left: 0;
  bottom: -15px;
  color: rgba(255,255,255,0.5);
  font-size: 10px;
  }
  .msg_time_send{
  position: absolute;
  right:0;
  bottom: -15px;
  color: rgba(255,255,255,0.5);
  font-size: 10px;
  }  

  /*  */
  #style-2::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 5px;
	background-color: #F5F5F5;
}

#style-2::-webkit-scrollbar
{
	width: 7px;
	background-color: #F5F5F5;
}

#style-2::-webkit-scrollbar-thumb
{
	border-radius: 5px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #eee;
}
.scrollbar {
	/* float: left; */
	height: 700px;
	background: #fff;
	overflow-y: scroll;
}
.scrollbars {
  /* float: left; */
  height: 473px;
  overflow-y: auto;
  background: #fff;
}

.scrollbarss {
  /* float: left; */
  height: 448px;
  overflow-y: auto;
  background: #fff;
}

.or h6::after {
  content: '';
  position: absolute;
  display: block;
  width: 67px;
  height: 1px;
  background: #999;
  bottom: 77px;
  left: 111px;
}
.or h6::before {
  content: '';
  position: absolute;
  display: block;
  width: 67px;
  height: 1px;
  background: #999;
  bottom: 77px;
  left: 22px;
}
.or h6 {
  margin-left: 79px;
}

.tab-content {
  background: #fff;
  margin-top: 10px;
}
.nav-tabs .nav-link:hover {
  
  padding: 12px !important;
}
a.nav-link.active i {
  color: rgb(63, 81, 181);
  font-size: 18px;
}
a.nav-link i {
  font-size: 18px;
}
.nav-tabs .nav-link {

  padding: 12px;
}
.nav-tabs .nav-link.active {
  color: #495057;
  background-color: rgb(130 157 206 / 35%);
  border-color: #b2b9dcd1;
  color: #3f51b5 !important;
  padding: 12px;
  border-radius: 0px !important;
}
.nav-tabs {
  border-bottom: 1px solid #dee2e6;
  background: #fff;
}
a.ath i {
    color: #696666 !important;
}
.ath {
  color: #696666 !important;
}
a.nav-link {
  color: #00000078;
}
a.nav-link.active i {
    color: #3f51b5;

}

.card-header.scott h5 {
  font-size: 18px;
}
.card-header.scott {
  background: #3f51b5;
  color: #fff;
  padding: 7px;
  border-radius: 0px !important;
}
/*  */

a.btn.btn-primary {
  width: 100% !important;
  text-align: left;
}       



img.img-rounded.img-responsive {
  width: 100%;
  border-radius: 100%;
  /* height: 77%; */
}

/*  */

/*  */
.card-header.day i {
  float: right;
}
.border {
  border: 1px solid #dee2e6!important;
  padding: 25px;
  background: #fff;
  margin-left: 5px;
}
.borders {
  border: 1px solid #dee2e6!important;
  padding: 5px;
  background: #fff;
  margin-left: 5px;

}
.doctor {
  background: #fff;
  /* border: 2px solid #fff; */
  box-shadow: 0 0 3px rgba(0,0,0,.3);
  /* float: left; */
  height: 130px;
  overflow: hidden;
  -webkit-transform: scale(1);
  transform: scale(1);
  transition: all .7s ease 0s;
  width: 130px;
}
.roundtab {
  /* width: 100px; */
  /* height: 100px; */
  text-align: center;
  margin: 0 auto;
  padding: 0;
  /* border: 1px solid #007c9d; */
  display: block;
  border-radius: 50%;
  line-height: 97px;
  /* overflow: hidden; */
}
.doctor.roundtab img {
  border-radius: 3px;
  height: auto;
  width: 100%;
}
.box {
  border-right: 1px solid #eee;
}

/* client */
.txt img {
  border-radius: 50%;
}
  /* form */
  .cls{
border-top: 0px !important;
border-right:0px !important;
border-left : 0px !important;
border-bottom:1px solid #999 !important;
  }

.cls:focus{
  box-shadow: none !important;
}
  /*  */
  .personal {
    background: #d3ddee !important;
    padding: 7px;
    color: #3f51b5;
    box-shadow: none !important;
    font-weight: 700;
    font-size: 14px;
    text-transform: capitalize;
}
.personal:hover {
  background: #d3ddee !important;
 
  color: #3f51b5 !important;

}
.personal:active {
  background: #d3ddee !important;
 
  color: #3f51b5 !important;

}
.personal:focus {
  background: #d3ddee !important;
 
  color: #3f51b5 !important;

}
.btn-primary:not([disabled]):not(.disabled):active, .btn-primary:not([disabled]):not(.disabled).active, .show>.btn-primary.dropdown-toggle {
  background-color: #d3ddee !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}

h4.title {
  color: #3f51b5;
  font-weight: 500;
  font-size: 20px;
  padding-left: 24px;
}
span.text-infos.bold {
  color: #999999d9;
  font-size: 15px;
}
.profile p {
  padding-left: 24px;
  font-size: 16px;
}
.evet-sec{
  padding-left: 24px;

}
ul.evet-sec li span {
  margin-left: 5px;
  font-size: 15px;
}

ul.evet-sec li i {
  font-size: 15px;
  color: #9999;
}
span.city {
  color: rgb(3 139 255);
}
p.dates span {
  color: #9999;
  font-size: 15px;
}
p.dates{
  padding-left: 24px;
}

.parents {
  margin-left: 12px;
  height: 220px;
}

.day {
  /* color: #d3ddee; */
  background: #d3ddee;
  padding: 8px;
  color: #3f51b5;
}
.staff {
  margin-left: 12px;
}
h5.title {
  color: #000;
  font-weight: 500;
  font-size: 20px;
  /* padding-left: 24px; */
}

.avatar {
  color: #9999;
  font-weight: 500;
  font-size: 20px;
}
.titles {
  font-size: 17px;
  margin-left: 15px;
  color: #999;
}
.txt i {

  font-size: 97px;
  color: #3f51b596;
}

/*  */

.switch label {
  cursor: pointer;
}
.switch label input[type=checkbox] {
  opacity: 0;
  width: 0;
  height: 0;
}
[type=checkbox]:checked, [type=checkbox]:not(:checked) {
  position: absolute;
  /* opacity: 0; */
  pointer-events: none;
}
.switch label input[type=checkbox]:checked+.lever {
  background-color: #d3ddee;
}
.switch label .lever {
  content: "";
  display: inline-block;
  position: relative;
  background-color: #818181;
  -webkit-border-radius: .9375rem;
  border-radius: .9375rem;
  vertical-align: middle;
  margin: 0 1rem;
  width: 2.5rem;
  height: .9375rem;
  -webkit-transition: background .3s ease;
  -o-transition: background .3s ease;
  transition: background .3s ease;
}
.switch label input[type=checkbox]:checked+.lever:after {
  background-color: #3f51b5;
  left: 1.5rem;
}
.switch label .lever:after {
  content: "";
  position: absolute;
  display: inline-block;
  background-color: #F1F1F1;
  -webkit-border-radius: 1.3125rem;
  border-radius: 1.3125rem;
  left: -.3125rem;
  top: -.1875rem;
  /* -webkit-box-shadow: 0 0.0625rem 0.1875rem 0.0625rem rgba(0,0,0,.4); */
  box-shadow: 0 0.0625rem 0.1875rem 0.0625rem rgba(0,0,0,.4);
  width: 1.3125rem;
  height: 1.3125rem;
  /* -webkit-transition: left .3s ease,background .3s ease,-webkit-box-shadow 1s ease; */
  /* -o-transition: left .3s ease,background .3s ease,box-shadow 1s ease; */
  /* transition: left .3s ease,background .3s ease,box-shadow 1s ease; */
  transition: left .3s ease,background .3s ease,box-shadow 1s ease,-webkit-box-shadow 1s ease;
}

.select-wrapper input.select-dropdown {
  position: relative;
  z-index: 2;
  display: block;
  width: 100%;
  height: 40px;
  padding: 0;
  margin: 0 0 .94rem 0;
  font-size: 1rem;
  line-height: 2.9rem;
  text-overflow: ellipsis;
  cursor: pointer;
  background-color: transparent;
  border: 0;
  border-bottom: 1px solid #ced4da;
  outline: 0;
}
.num {
  height: 60px !important;
}
.nums{
  margin-top: 0.5rem;
}
.switch {
  float: right;
}

.prts {
  padding: 3px 10px;
  font-size: 12px;
  color: #3f51b5 !important;
  background: #d3ddee !important;
  box-shadow: none;
  margin-top: 3px;
}
i.fab.fa-odnoklassniki {
  color: #3f51b5;
  font-size: 22px;
}

.res{
  /* padding: 3px 10px; */
  /* font-size: 12px; */
  background: #eee !important;
  border: 1px solid #d3ddee !important;
  color: #999;
  box-shadow: none !important;
}

.res{
  padding: 4px 12px;
  font-size: 11px;
}


.ftr{
  display: inline-flex;
}

footer {
  background: #fff;
  padding: 20px;
  margin-top: 50px;

}

.aloha {
  color: #000000 !important;
}

a.nav-link.aloha {
  /* border-right: 1px solid #634a4a3b; */
}

a.nav-link.aloha{
  /* border-right: 1px solid #634a4a3b; */
}

.card-footer {
  background: #fff !important;
  padding: 1px;
}

.pagination{
  float: right;
  margin-top: 8px;
}

li.resp {
  display: inline-flex;
}
li.resp i {
  padding-top: 4px;
}
.pg{
  display: inline-flex;
}
.pg2 {
  margin-top: 15px;
  margin-left: 3px;
  font-size: 15px;
  color: #999;
}
a.btn.btn-primary.personal.waves-effect.waves-light i {
  float: right;
}
.doctor.roundtab i {
  position: absolute;
  height: -5px;
  height: 15px;
  width: 15px;
  background-color: #4cd137;
  border-radius: 50%;
  bottom: 13px;
  color: #fff;
  z-index: 1;
  line-height: 12px;
  font-size: 9px;
  right: 20px;
  border: 1.5px solid white;
}

p.date span {
  color: #999;
}

.prm {
  color: #3f51b5;
  font-size: 22px;
  margin-left: 30px;
}

.prtss {
  padding: 3px 10px;
  font-size: 12px;
  color: #3f51b5 !important;
  background: #d3ddee !important;
  box-shadow: none;
  margin-top: 3px;
  display: block;
}
.numss {
  margin-top: 2px;
}


.numss label {
  position: absolute;
  top: 14px;
  left: 0;
  font-size: 1rem;
  color: #757575;
  cursor: text;
  -webkit-transition: color .2s ease-out, -webkit-transform .2s ease-out;
  transition: color .2s ease-out, -webkit-transform .2s ease-out;
  transition: transform .2s ease-out, color .2s ease-out;
  transition: transform .2s ease-out, color .2s ease-out, -webkit-transform .2s ease-out;
  -webkit-transform: translateY(12px);
  transform: translateY(12px);
  -webkit-transform-origin: 0% 100%;
  transform-origin: 0% 100%;
}
.md-form.numsss {
  margin-top: 9px;
}
.hrs {
  border-bottom: 1px solid #999;
}
.btnsss {
 
  margin-left: 572px;
}
.btnsss .btn {
  box-shadow: none !important;
}
.dis {
  background: #eee !important;
  box-shadow: none !important;
  color: #000000bf;
}
.dis:hover {
  background: #eee !important;
  box-shadow: none !important;
  color: #000000bf;
}
p.h5.mt-5 {
  font-size: 30px;
  color: #9999;
}
@media (max-width: 765px)
{
  .chat{
    margin-top: 15px;
  }
  p.date {
    margin-left: 24px;
}
.parents {
  height: 274px;
}
li.resp {
  display: inline-block;
}
.txt i {
  margin: 0 auto;
  display: block;
  width: 30%;
}
span.text-infos.bold {
  color: #999999d9;
  font-size: 13px;
}
h4.title.mb-2 {
  margin: 0 auto;
  display: block;
  width: 51%;
}
h5.titles {
  margin: 0 auto;
  display: block;
  width: 51%;
}
.or h6::after {
  content: '';
  position: absolute;
  display: block;
  width: 64px;
  height: 1px;
  background: #999;
  bottom: 60px;
  left: 187px;
}
.or h6::before {
  content: '';
  position: absolute;
  display: block;
  width: 64px;
  height: 1px;
  background: #999;
  bottom: 60px;
  left: 97px;
}
.switch {
  float: left;
}
.or h6 {
  margin: 0 auto;
  display: block;
  width: 4%;
  margin-top: 7px;
}
.btnsss {
 margin-top: 10px;
  margin-left: 0px;
}
}